.page{
    background: linear-gradient(43.12deg, 
    rgba(255, 0, 0, 0.75) 38.7%, rgba(255, 122, 47, 0.75) 
    93.75%);
}

.main-slide{
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-card{
    height: 500px;
    width: 400px;
    background-color: white;
    padding: 25px 25px;
    margin: 5px;
}

.serviceTitle{
    margin: 50px 0px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 1.25em;
    cursor: pointer;
    transition: 500ms ease-out;
}

.serviceTitle:hover{
    font-size: 1.5em;
}

.service-card{
    position: relative;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
    color: black;
    transition: 500ms;
    display: none;
}

.visible{
    display: flex;
}



.service-icon{
    margin: 30px 10% 5px;
    width: 80%;
    animation: bounce 3s infinite 0s ease-in-out;
}

.description{
    text-indent: 30px;
}

#title{
    position: relative;
    top: 60px;
    left: 60px;
    font-size: 5em;
    font-weight: 100;
    margin-bottom: 40px;
}

#left:hover{
    box-shadow: 5px 5px 20px black;
}

@keyframes bounce{
    0%{transform: translateY(0px);}
    50%{transform: translateY(-15%);}
    100%{transform: translateY(0px);}
}